.males {
  background-color: skyblue;
}

.females {
  background-color: salmon;
}

.center {
  text-align: center;
}

.visible-carousel-item {
  display: block;
}


.hidden-carousel-item {
  display: none;
}

.card p {
  background-color: #66e3d1;
}
